*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #000000;
    --white: #FAFAFA;
    --pink: #FF2E63;
    --pink-light: #FA7A99;
    --background: #FAEEFA;
    --overlay: #040911;
    --background_dark: #F6DFF6;

    --pink-dark: #2B1219;
    --purple-medium:#9F2C75;
    --purple-light:#D281B5;

    /* 1rem = 16px (User Agent) = 100% (User Agent)*/
    font-size: 62.5%; /* 10px */
}

body{
    background: var(--background);
}

button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--purple-medium);
    filter: brightness(1.2);
    color: var(--white);

    transition: filter .2s;

    cursor: pointer;
}

button:hover, .button:hover{
    filter: brightness(1.5);
}